.taitl {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 60px;
  position: absolute;
  top: 25%;
  left: 20%;
  color: rgb(216, 50, 105);
}
.taitl2 {
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 21%;
  color: rgb(216, 50, 105);
}
.taitl3 {
  font-size: 15px;
  position: absolute;
  top: 120%;
  left: 0%;
  color: rgb(126, 127, 128);
}
.sample {
  color: rgb(126, 127, 128);
  font-size: 15px;
  text-align: right;
  font-weight: bold;
  margin-right: 30px;
  padding: 20px;
}
.News {
  font-family: "Gloria Hallelujah", cursive;
  position: absolute;
  left: 20%;
  color: rgb(216, 50, 105);
  margin: 100px;
}
h2 {
  position: absolute;
  left: 27%;
  bottom: -9%;
  color: rgb(126, 127, 128);
}
hr {
  background-color: rgb(115, 112, 112);
  width: 10%
  text-align: center;
  margin: 170px auto 50px;
  display: block;
  }

.button {
  width: 50px;
  height: 25px 0;
  color: rgb(250, 246, 246);
  font-size: 10px;
  background: rgb(216, 50, 105);
  padding: 2px 15px;
  border-radius: 30px;
}
.topics {
  color: rgb(126, 127, 128);
  padding: 20px;
  border-top: solid 2px rgb(155, 154, 154);
  position: absolute;
  top: 115%;
  left: 30%;
}
ul {
  width: 630px;
  list-style: none;
}
li {
  border-bottom: solid 2px rgb(236, 232, 232);
  display: flex;
  justify-content: space-around;
  padding: 15px;
  width: 610px;
}
.border {
  border-bottom: 2px solid rgb(155, 154, 154);
  width: 630px;
  padding-bottom: 20px;
}
.gray {
	height: 400px;
	background-color: red;
}